@font-face {
    font-family: 'KolePRoundedThin';
    src: url('fonts/KolePRounded-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'KolePRoundedThinOblique';
    src: url('fonts/KolePRounded-ThinOblique.otf') format('opentype');
}

body {
    font-family: 'KolePRoundedThin', Arial, sans-serif;
    background-color: #e5eff5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h1 {
    color: #ff6f0f;
    font-size: 36px;
    margin-bottom: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    border: 2px solid #ff6f0f;
    border-radius: 25px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 16px;
}

.login-box button {
    background-color: #ff6f0f;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #e65c00;
}

.login-box hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #e5eff5;
}

.login-box a {
    color: #ff6f0f;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.login-box a:hover {
    color: #e65c00;
}
